<header class="dm-broadside__head">
  <div class="dm-broadside__brand">長い言葉のデータベース</div>
  <nav class="dm-broadside__nav">
    <a href="#"><%= mock_stats[:words] %> ENTRIES</a>
    <a href="#">索引</a>
    <a href="#">検索</a>
    <a href="#">ランキング</a>
    <a href="#">このサイトについて</a>
  </nav>
</header>
