<header class="dm-neobrutalism__head">
  <div class="dm-neobrutalism__brand">長い言葉のデータベース</div>
  <nav class="dm-neobrutalism__nav">
    <a href="#">索引</a>
    <a href="#">検索</a>
    <a href="#">ランキング</a>
    <a href="#">統計</a>
    <a href="#">について</a>
  </nav>
</header>
