<header class="dm-refined__head">
  <div class="dm-refined__brand">
    <span class="dm-refined__seal">言</span>
    <b>長い言葉のデータベース</b>
  </div>
  <nav class="dm-refined__nav">
    <a class="<%= "is-on" if current == :home %>" href="#">ホーム</a>
    <a href="#">索引</a>
    <a href="#">検索</a>
    <a class="<%= "is-on" if current == :ranking %>" href="#">ランキング</a>
    <a href="#">統計</a>
    <a href="#">このサイトについて</a>
  </nav>
</header>
