<header class="dm-swiss__head">
  <div class="dm-swiss__brand">Nagai Kotoba Database</div>
  <nav class="dm-swiss__nav">
    <a class="<%= "is-on" if current == :home %>" href="#">Home</a>
    <a href="#">Index</a>
    <a href="#">Search</a>
    <a class="<%= "is-on" if current == :ranking %>" href="#">Ranking</a>
    <a href="#">About</a>
  </nav>
</header>
