<header class="dm-measure__head">
  <div class="dm-measure__brand"><span>長い言葉</span>のデータベース</div>
  <nav class="dm-measure__nav">
    <a href="#">索引</a>
    <a href="#">検索</a>
    <a href="#">ランキング</a>
    <a href="#">統計</a>
    <a href="#">収録 <%= mock_stats[:words] %></a>
  </nav>
</header>
